body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
    Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

  font-size: 24px;
}

#grad {
  background: linear-gradient(280deg, rgb(255, 137, 186), rgb(111, 182, 240));
}

h1 {
  font-size: 45px;
}

h1,
h2,
h3,
h4 {
  text-align: center;
}

h1,
h2,
h3,
h4,
ul,
li,
p {
  color: rgb(255, 255, 255);
}

.ul {
  margin: 25px 0px 50px 0px;
}

ul li {
  margin: 10px;
}

ol {
  margin: 0px 0px 0px 20px;
}
.grad {
  display: flex;
  flex-direction: row;
}

img {
  
  /* border-radius: 5px; */
  border: 1px solid black;
  box-shadow: 5px 8px 15px;
  margin: 10px;
}

p {
  text-indent: 20px;
  text-indent: 20px;
}

a {
  text-decoration: none;
  color: rgb(0, 0, 0);
}

a:hover {
  background: rgb(0, 183, 255);
}
